@import '../../base/variables';
@import '../../base/colors';

.services {
    overflow: hidden;
    grid-area: services;
    @include top-bottom-padding;
    background-color: $gunmetal;
}

.services__viewport {
    @include mobile-section-setting;
}

.services__copy {
    margin-bottom: 3rem;
    max-width: $mediumWidth;
    color: white;
}

.services__item {
    line-height: 3.5rem;
    position: relative;
    cursor: pointer;
    font-weight: $extra-light;
    margin-bottom: 0;
    text-align: center;
}

.services__list {
    position: relative;
}

 .services__item-container::after {
    content: '';
    background-color: transparentize(white, 0.5);
    padding: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
} 

 .services__list::before {
    content: '';
    background-color: transparentize(white, 0.5);
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
} 

.services__item--active {
    font-weight: $bold;
}

.services__item--active::after {
    content: '';
    background-color: transparentize($cerise, 0.1);
    padding: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 8rem;
    height: 3px;
}

@media (min-width: $mediumWidth) {
    .services__viewport {
        display: grid;
        grid-template-areas: 
            'services'
            'service';
        margin: 0 auto;
    }

    .services__overview {
        position: relative;
        grid-area: services;
        display: grid;
    }

    .services__viewport {
        @include desktop-section-setting;
    }

    .services__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .services__list::before {
        display: none;
    }

    .services__item-container {
        flex-basis: 100%;
    }

    .services__item-container::after {
        display: none;
    }

    .services__overview {
        @include medium-max-width;
    }

    .services__overview::after {
        content: '';
        background-color: transparentize(white, 0.5);
        padding: 0;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include medium-max-width;
        height: 1px;
    }

    .services__item--active::after {
        width: 13.5rem;
    }

}