@import '../../base/variables';
@import '../../base/colors';

.logoGrid {
    overflow: hidden;
    grid-area: logogrid;
    //background-color: $toned-done-yellow;
    @include top-bottom-padding;
    justify-items: center;
}

.logoGrid__viewport {
    @include mobile-section-setting;
}

.logoGrid__container {
    display: grid;
    grid-template-areas: 
        'logo1 logo2'
        'logo3 logo4';
    grid-gap: 3rem;
    justify-content: space-around;
    padding-top: 1rem;
}

.logoGrid__heading {
    text-align: center !important;
    font-size: scaledFont($scaling-factor-small, 2);
    @include headline();
    font-style: normal;
}

.logoGrid__logo {
    max-width: 7.5rem;
    opacity: 0.4;
}

.logoGrid__logo1 {
    grid-area: logo1;
}
.logoGrid__logo2 {
    grid-area: logo2;
}
.logoGrid__logo3 {
    grid-area: logo3;
}
.logoGrid__logo4 {
    grid-area: logo4;
}
.logoGrid__logo5 {
    grid-area: logo5;
    display: none;
}
.logoGrid__logo6 {
    grid-area: logo6;
    display: none;
}

@media (min-width: $mobileLargeWidth) {
    .logoGrid__container {
        grid-template-areas: 
        'logo1 logo2 logo3 logo4';
        grid-gap: 6rem;
    }
 }

@media (min-width: $mediumWidth) {
    .logoGrid__container {
        grid-template-areas: 
        'logo1 logo2 logo3 logo4 logo5 logo6';
    }

    .logoGrid__viewport {
        @include medium-max-width;
    }

    .logoGrid {
        //@include desktop-section-setting;
    }

    .logoGrid__logo {
        max-width: 8rem;
    }

    .logoGrid__logo5 {
        grid-area: logo5;
        display: block;
    }
    .logoGrid__logo6 {
        grid-area: logo6;
        display: block;
    }
 }
