@import '../../base/variables';
@import '../../base/colors';

.newsletter {
    @include mobile-section-setting;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background-color: $soft-blue;
    color: $light-gray;
    grid-area: newsletter;
}

.newsletter__viewport {
    @include mobile-max-width;
}

.newsletter__form {
    @include mobile-max-width;
}

.newsletter__title {
    color: $light-gray;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.newsletter__claim {
    color: $light-gray;
    text-transform: uppercase;
    @include spacing;
}

.newsletter__button {
    background-color: $soft-red;
    width: 100%;
    margin-top: 1rem;
    color: $light-gray;
}

.newsletter__input {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8rem;
    border: none;
}

.newsletter__input::placeholder {
    color: transparentize($grayish-blue, 0.5);
}

@media (min-width: $mediumWidth) {
    .newsletter__input {
        width: 300px;
        margin-right: 0.75rem;
    }

    .newsletter__button {
        width: 127px;
    }

    .newsletter__title {
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        line-height: 2.5rem;
    }
}