@import '../../base/variables';
@import '../../base/colors';

.team {
    padding-bottom: 6.5rem;
    grid-area: team;
    @include top-bottom-padding;
    background-color: white;
}

.team__viewport {
    @include mobile-section-setting;
    margin: 0 auto;
}

.team__description {
    padding-bottom: 1.5rem;
    //@include mobile-max-width;
}

@media (min-width: $mobileLargeWidth) {
    .team__members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: $desktopViewport;
        margin: 0 auto;
        gap: 1rem;
    }

    .team__viewport {
        @include desktop-section-setting;
        align-items: center;
        max-width: $mediumWidth;
    }
}

@media (min-width: $mobileLargeWidth) {
    .team__members {
        max-width: $desktopLarge;
    }
}
