@import '../base/variables';

.indexPage {
    text-align: center;
}

@media (min-width: $mediumWidth) {
    .indexPage {
        grid-area: main;
        display: grid;
        margin: 0 auto;
        grid-template-areas: 
            'hero'
            'logogrid'
            'services'
            'caseStudies'
            'team'
            'faqs'
            'contact';
        overflow: hidden;
    }
}