@import '../../base/variables';
@import '../../base/colors';

.contact {

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background-color: $toned-done-yellow;
    color: $light-gray;
    grid-area: contact;
    
}

.contact__viewport {
    @include mobile-max-width;
}

.contact__form {
    @include mobile-max-width;
    @include top-bottom-padding;
    @include left-right-padding;
    //width: auto;
    position: relative;
    

}

.contact__headline {
    @include mobile-section-setting;
}

.contact__title {
    @include mobile-section-setting;
    color: $cerise;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-weight: $extra-light;

}

.contact__formBackground {
    background-color: white;
    clip-path: polygon(0 0, 100% 5%, 100% 85%, 0% 95%);
    
}

.contact__button {
    @include mobile-max-width;
    width: 80%;
    margin-top: 1rem;
    grid-area: contact;
}

.contact__form__label {
    position: relative;
    display: flex;
}

.contact__form__icon {
    position: absolute;
    left: 10px;
    top: 12px;
    bottom: 0;
}

.contact__consent {
    width: auto;
    border-radius: 4px;
    font-size: 0.8rem;
    grid-area: consent;
}

.contact__input {
    width: 100%;
    padding: 0.6rem 2rem;
    border-radius: 4px;
    font-size: 0.8rem;
    border: 0px solid;
    margin-bottom: 1rem;
    background-color: #fffff7;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.contact__message {
    resize: vertical;
}

.contact__input::placeholder {
    color: transparentize($grayish-blue, 0.5);
}

@media (min-width: $mediumWidth) {
    .contact__input {
        
    }

    .contact__form {
        max-width: $mediumWidth;
        grid-auto-columns: 1fr;
        display: grid;
        grid-gap: 1rem;
        grid-template-areas: 
            "left left left right right right right right"
            "consent consent consent consent consent consent consent consent"
            "contact contact contact contact contact contact contact contact";
    }

    .contact__form--left {
        grid-area: left;
    }

    .contact__form--right {
        grid-area: right;
    }

    .contact__input {
    }

    .contact__message {
        height: 16em;
    }

    .contact__title {
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        line-height: 2.5rem;
    }
}
