@import '../../base/variables';
@import '../../base/colors';

.downloads {
    padding-bottom: 6.5rem;
    grid-area: downloads;
    @include top-bottom-padding;
    background-color: $very-light-blue;
    max-width: 100vw;
}

.downloads__viewport {
    @include mobile-section-setting;
}

.swiper-slide {
    max-width: 25rem;
}

.swiper-container {
    padding-bottom: 3rem;
}

.swiper-pagination {

}

.downloads__description {
    padding-bottom: 1.5rem;
    @include mobile-max-width;
}

@media (min-width: calc(#{$mediumWidth} + 150px)) {
    .downloads__list {
        display: flex;
        
    }

    .downloads__viewport {
        //@include desktop-section-setting;
        align-items: center;
    }
}