@import '../../base/variables';
@import '../../base/colors';

.features {
    overflow: hidden;
    grid-area: features;
    @include top-bottom-padding;
    background-color: $gunmetal;
}

.features__viewport {
    @include mobile-section-setting;
}

.features__copy {
    //max-width: 17rem;
    //margin-left: auto;
    //margin-right: auto;
    margin-bottom: 1.25rem;
    max-width: $mediumWidth;
    color: white;
}

.features__item {
    line-height: 3.5rem;
    position: relative;
    cursor: pointer;
    font-weight: $extra-light;
    margin-bottom: 0;
    text-align: center;
}

.features__list {
    position: relative;
}

 .features__item-container::after {
    content: '';
    background-color: transparentize(black, 0.8);
    padding: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
} 

 .features__list::before {
    content: '';
    background-color: transparentize(black, 0.8);
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
} 

.features__item--active {
    font-weight: $bold;
}

.features__item--active::after {
    content: '';
    background-color: transparentize($cerise, 0.2);
    padding: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 8rem;
    height: 2px;
}

@media (min-width: $mediumWidth) {
    .features__viewport {
        display: grid;
        grid-template-areas: 
            'features'
            'feature';
    }

    .features {
        margin: 5rem auto 0 auto    ;
    }

    .features__overview {
        position: relative;
        grid-area: features;
    }

    .features__viewport {
        @include desktop-section-setting;
    }

    .features__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .features__list::before {
        display: none;
    }

    .features__item-container {
        flex-basis: 100%;
    }

    .features__item-container::after {
        display: none;
    }

    .features__overview {
        @include medium-max-width;
    }

    .features__overview::after {
        content: '';
        background-color: transparentize(black, 0.8);
        padding: 0;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include medium-max-width;
        height: 1px;
    }

    .features__item--active::after {
        width: 13.5rem;
    }

}