@import '../../base/variables';
@import '../../base/typography';
@import '../../utils/scaledFontSize';

.question__head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: space-between;
    position: relative;
    max-width: $mobileWidth;
    cursor: pointer;
    align-items: baseline;
}

.question__number {
    font-size: scaledFont($scaling-factor-small, 4);
    @include headline();
    color: $gunmetal;
    padding-right: 1rem;
    // position: absolute;
    // top: -1rem;
    // left: 0;
}

.question__title {
    margin-bottom: 0;
    pointer-events: none;
    font-size: scaledFont($scaling-factor-small, 1);
}

.question__arrow {
    height: 100%;
    cursor: pointer;
    pointer-events: none;
}

.question__head::after  {
    content: '';
    background-color: transparentize(black, 0.8);
    padding: 0;
    display: block;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
}

.question__answer {
    text-align: left;
    padding-bottom: 3rem;
    position: relative;
    transition: all 0.5 ease-in-out;
    margin: 0 1rem 0 1rem;
}

/* .question__answer::after  {
    content: '';
    background-color: transparentize(black, 0.8);
    padding: 0;
    display: block;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    @include mobile-max-width;
    height: 1px;
} */

.question__answer--toggled {
    display: none;
}

.question__arrow--active {
    transform: rotate(180deg);
    filter: invert(49%) sepia(73%) saturate(2361%) hue-rotate(327deg) brightness(97%) contrast(101%);
}