@import '../../base/variables';
@import '../../base/colors';

.footer {
    @include mobile-section-setting;
    background-color: $medium-gray;
    padding-top: 2rem;
    grid-area: footer;
    margin-top: auto;
}

.footer__item {
    line-height: 2.5rem;
}

.footer__divider {
    border: 0px;
    &:before {
        // full-width divider
        content: "";
        display: block;
        position: absolute;
        right: 0;
        max-width: 100%;
        width: 100%;
        border: 1px solid grey;
    }
}

.footer__links {
    margin: 1.5rem auto;
    //padding-bottom: 1rem;
    //padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    @include mobile-max-width;
}

.footer__link, .footer__copyright {
    color: white;
    font-size: 0.8rem;
    
}

.footer__socialLinks {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50%;
    padding-right: 50%;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.footer__socialLink {
    color: white;
}

.footer__socialItem {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
}