@import '../../base/variables';

.caseStudy {
    width: 100%;
    //box-shadow: $md-box-shadow;
    border-radius: 0.5rem;
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #dadce0;
}

.caseStudy__content {
    padding: 1rem;
    height: 10rem;
}

.caseStudy__button {
    width: 100%;
}

.caseStudy__title {

}

.caseStudy__image {
    max-width: 100%;
    border-radius: 0rem 0rem 0 0;
}

.caseStudy__content {
    margin-bottom: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.caseStudy--modal .caseStudy__content {
    overflow-y: visible;
    display: block;
    //-webkit-box-orient: vertical;
    //-webkit-line-clamp: 5;
}


.caseStudy__line {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
}

.caseStudy--modal {
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    overflow-y: auto;
    border-radius: 0;
}

.caseStudy__header {
    display: none;
    max-width: $mediumWidth;
    margin: auto;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
}

.caseStudy__cta {
    @include linkCta;
    display: none;    
    text-align: left;
}

.caseStudy--modal .caseStudy__cta {
    display: block;
}

.caseStudy--modal .caseStudy__button {
    display: none;
}

.caseStudy--modal .caseStudy__header {
    display: flex;
    position: fixed;
    //height: 3rem;
    width: 100vw;
    top: 0;
    margin-top: auto;
    background: white;
    z-index: 5;
}

.caseStudy__header__logo, .caseStudy__header__close {
    height: auto;
    margin: 0;
    text-transform: uppercase;
}

@media (min-width: $mediumWidth) {
    .caseStudy {
        //max-width: 280px;
    }
}