// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

//Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$light-gray: #C4C6C9;

// set 1
$dodger-blue: #3590F3;
$maximum-yellow: #FFFC31;
$toned-done-yellow: #fffecb;
$cerise: #DB2763;
$aero-blue: #BDEDE0;
$gunmetal: #293241;
$very-light-blue: #EEF1F5;
$medium-gray: #696f7a;


// set 2
$thistle: #E9D2F4;
$minion-yellow: #FDE74C;
$cerise: #DB2763;
$aero-blue: #BDEDE0;
$gunmetal: #293241;

// set 3
$french-sky-blue: #67AAF9;
$tufts-blue: #3C91E6;
$cerise: #DB2763;
$aero-blue: #BDEDE0;
$gunmetal: #293241;