@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './colors';
@import './variables';
@import '../utils/scaledFontSize';

// Definitions
$poppins: 'Poppins';
$merriWheather: 'Merriweather';

// Font scaling (see here: https://type-scale.com/)
$major-third: 1.25;
$perfect-fifth: 1.5;
$golden-ration: 1.618;
$scaling-factor-small: $major-third;
$scaling-factor-medium: $major-third;
$scaling-factor-large: $golden-ration;

//truncate
@mixin truncate($width){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $width;
  }

// root font size
$root-size: 16px;

// font weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

* {
    font-family: $poppins;
    font-weight: $light;
    font-size: $root-size;
    color: $gunmetal;
    font-weight: $extra-light;
    line-height: 1.5em; //calc(1em*1.5);
}

@mixin headline {
    color: $dodger-blue;
    font-weight: $bold;
    font-family: $poppins;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    //text-shadow: 0px 3px 6px #d5d5d5;
    //not sure if the margin is still necessary
    //margin-bottom: 1rem;
}

h1 {
    font-size: scaledFont($scaling-factor-small, 5);
    text-shadow: 0px 1px 3px #c4c4c4;
    @include headline();
    line-height: 56px
}

h2 {
    font-size: scaledFont($scaling-factor-small, 0);
    font-family: $merriWheather;
    color: $dodger-blue;
    font-style: italic;
    text-align: left;
    margin-bottom: 1rem;
}

h3 {
    font-size: scaledFont($scaling-factor-small, 3);
    @include headline()
}

h4 {
    font-size: scaledFont($scaling-factor-small, 2);
    @include headline()
}

h5 {
    font-size: scaledFont($scaling-factor-small, 1);
    @include headline()
}

li {
    //font-size: 0.95rem;
    //color: black;
    font-weight: $regular;
}

p {
    font-size: scaledFont($scaling-factor-small, 0);
    font-weight: $extra-light;
    margin-bottom: 1.5rem;
    text-align: left;
}

span {
    font-size: 0.7rem;
}

button {
    font-size: 0.8rem;
}

label {
    font-size: scaledFont($scaling-factor-small, -1);
}

a {
    text-decoration: none;  
    color: $dodger-blue;
}

@mixin linkCta {
    color: $cerise;
    font-size: scaledFont($scaling-factor-small, 1)
}

@media (min-width: $mediumWidth) {
    h1 {
        //font-size: 2.675rem;
        font-size: scaledFont($scaling-factor-medium, 5);
    }

    h3 {
        //font-size: 1.75rem;
        font-size: scaledFont($scaling-factor-medium, 4);
    }
}