@import '../../base/variables';

.downloadCard {
    width: 100%;
    box-shadow: $md-box-shadow;
    border-radius: 0rem;
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    cursor: pointer;
}

.downloadCard__content {
    padding: 1rem;
    height: 10rem;
}

.downloadCard__button {
    width: 100%;
}

.downloadCard__title {

}

.downloadCard__image {
    max-width: 100%;
    border-radius: 0rem 0rem 0 0;
}

.downloadCard__version {
    margin-bottom: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.downloadCard--modal .downloadCard__version {
    overflow-y: visible;
    display: block;
    //-webkit-box-orient: vertical;
    //-webkit-line-clamp: 5;
}


.downloadCard__line {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
}

.downloadCard--modal {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    overflow-y: auto;
    border-radius: 0;
}

.downloadCard__header {
    display: none;
    max-width: $mediumWidth;
    margin: auto;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
}

.downloadCard__cta {
    @include linkCta;
    display: none;    
    text-align: left;
}

.downloadCard--modal .downloadCard__cta {
    display: block;
}

.downloadCard--modal .downloadCard__button {
    display: none;
}

.downloadCard--modal .downloadCard__header {
    display: flex;
    position: fixed;
    //height: 3rem;
    width: 100vw;
    top: 0;
    margin-top: auto;
    background: white;
    z-index: 5;
}

.downloadCard__header__logo, .downloadCard__header__close {
    height: auto;
    margin: 0;
    text-transform: uppercase;
}

@media (min-width: $mediumWidth) {
    .downloadCard {
        //max-width: 280px;
    }
}